#b{background-color:white;}
#search{padding:6px;}
#face{padding:2px;}
#back1{background-image:url("back1.jpg");background-repeat:no-repeat;background-size:cover;}
#ttx1{font-size:50px;}
#part3{background-image:url("map.png");background-repeat:no-repeat;background-size:cover;opacity:0.8;}
#lss{color:white;}